<!DOCTYPE html>
<html>
<head>
    <title>Create Accoun</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Create Account</h1> 
    <img src="images/Reel_logo.jpg" alt="logo">
    <div class="account-container">
       
        <form action="/signup" method="post">
            <div class="input-container">
                <label for="firstname">Firstname:</label>
                <input type="text" id="firstname" name="firstname" required><br> 
            </div>
            <div class="input-container">
                <label for="surname">Surname:</label>
                <input type="text" id="surname" name="surname" required><br> 
            </div>
            <div class="input-container">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required><br> 
            </div>
            <div class="input-container">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br> 
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br> 
            </div>
            <input type="submit" value="Create Account">
            <a href="/login" class="signup-button">Go Back</a>
        </form>
    </div>
</body>
</html>
</head>

<body>